@font-face {
	font-family: 'Conv_Effra-Regular';
	src: url('../fonts/Effra-Regular.eot');
	src: local('☺'), url('../fonts/Effra-Regular.woff') format('woff'), url('../fonts/Effra-Regular.ttf') format('truetype'), url('../fonts/Effra-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

$black: #303030;
$white: rgb(244,244,244);

body * {
  transition: 0.5s;
}

body {
  	font-family: Sans-Serif;
    min-height: 100vh;
    position: relative;
}

#background-curtain {
    position: absolute;
    z-index: -100;
    background-image: linear-gradient(-179deg, #17C27D 0%, #1DD9C2 100%);
    height: 100%;
    min-height: 560px;
    width: 100%;
}

.container {
  height: 100%;
}

nav {
  position: fixed;
  background-color: #17C37F;
  padding: 0px 50px;
  width: 100%;
  z-index: 100;

  & > div {
    border-bottom: 2px white solid;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    & > div > * {
      display: inline-block;
    }
  }
}


nav .logo {
  width: 60%;
	#logo {
		height: 42px;
		margin-right: 10px;
	}
	h1 {
		position: relative;
		margin-right: 6px;
		font-size: 22px;
		font-weight: 500;
		color: $white;
		letter-spacing: -0.03em;
		margin-top: 0;
		margin-bottom: 0;
		top: 4px;
		@media (max-width: 767.9999px){
			// font-weight:
			font-size: 13px;
		}
	}
}

nav .login-link {

  width: 40%;

	a {
		padding: 10px 33px;
		font-size: 17px;
		color: $white;
		border-radius: 100px;
		border: 2px solid $white;
		transition: 0.3s;
		margin-left: 14px;
	}
}


nav .login-link a:hover{
  color: $white;
  text-decoration: none;
  background-color: #FFC22D;
  border: 2px solid #FFC22D;
}

nav #beta-badge {
  position: relative;
  bottom: -2px;
  height: 12px;
}

section#main {
	// cursor: none;
  margin-top: 150px;
	margin-bottom: 180px;
  //first child
  & > div:nth-child(1){
    padding-top: 20px;
  }

  h2 {
    font-family: 'Conv_Effra-Regular';
    font-size: 110px;
    color: $white;
		letter-spacing: -0.02em;
    line-height: 0.9em;
    margin-bottom: 16px;
    font-weight: 600;
  }

  h3{
    font-size: 20px;
    color: $white;
    margin-top: 30px;
    margin-bottom: 24px;
  }
}

#main #badges img {
  height: 40px;
}
#main #badges img:nth-child(1){
  margin-right: 14px;
}
#phones-pic {
  margin-top: 80px;
  margin-left: auto;
}
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: $white;
  z-index: 20;
  text-align: center;
  padding: 0;
  font-size: 12px;

  * {
    display: inline;
  }


  h6 {   // link name
    text-transform: uppercase;
    margin-right: 1em;
    opacity: 0.4;
  }

  p {
    color: #1BD2AC;
    a {
      color: #1BD2AC;
    }
  }
}

section.signup{
  background-color: $black;
  height: 200px;
}

canvas {
  cursor: none;
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  z-index: -100;
}

@media (max-width: 767.99999px){
  nav {
      padding: 0px 15px;
  }
  #phones-pic {
    margin-top: 20px;
  }
  section#main > div:nth-child(1){
    padding-top: 40px;
  }
  section#main h2{
    font-size: 45px;
  }
  section#main #badges img {
    height: 32px;
  }
}
