/* Color palette */

$electric-blue: #0045ff;
$white: #ffffff;
$black: #000000;
$charcoal-grey: #4b4b4c;
$reddish-pink: #ff2d55;


body {
	font-family: 'Poppins', sans-serif;
	* {
		// transition: 0.5s;
	}
}
h2 {
	font-family: Poppins;
	font-size: 31px;
	line-height: 1.29;
	color: $black;
	// max-width: 619px;
}

h3 {
	font-family: Poppins;
	letter-spacing: normal;
	font-size: 15px;
	color: $charcoal-grey;
	line-height: normal;
}
.text-block {
	@media (max-width: 991.9999999999px) {
		padding-left: 15px;
		padding-right: 15px;
	}
}
.text-block, img {
	max-width: 100%;
}
a {
	transition: 1s;

}
a:hover {
	color: $electric-blue;
}



//SECTION SPECIFIC
//...............

section.splash-screen {
	height: 750px;
	@media (max-width: 991.9999999px) {
		height: auto;
	}
	background-image: url(../images/landing-page-background-map.png);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;

	h1 {
			max-width: 536px;
			font-family: Poppins;
			font-size: 40px;
			font-weight: 500;
			line-height: 1.27;
			letter-spacing: -1.3px;
			color: $white;

		}

	h3 {
			max-width: 487.2px;
			font-family: Poppins;
			font-size: 20px;
			letter-spacing: -0.2px;
			color: $white;
		}

		@media (max-width: 991.9999999px) {
			h1 {
				width: auto;
				padding-left: 20px;
				padding-right: 20px;
				text-align: center;

			}
			h3 {
				width: auto;
				padding-left: 20px;
				padding-right: 20px;
				text-align: center;
			}
		}

	.site-title {
		z-index: 100;
		position: absolute;
		left: 44px;
		top: 30px;
		width: 56px;
		@media (max-width: 991.9999999999px) {
			left: 15px;
		}
	}
	.social-media {
		position: absolute;
		top: 24px;
		right: 44px;
		z-index: 100;
		@media (max-width: 991.9999999999px) {
			right: 15px;
		}
		img {
			width: 40px;
			height: 40px;
			margin-left: 7px;
		}

	}

	.web-app-btns {
		position: absolute;
		top: 24px;
		height: 40px;
		right: 180px;
		margin-right: 20px;
		z-index: 100;
		@media (max-width: 767.99999999px){
			right: 4px;
		}

		button {
			padding-left: 20px;
			padding-right: 20px;
			display: inline-block;
			height: 100%;
			border: none;
			background-color: transparent;
			color: $white;
			transition: 1s;
			border-radius: 100px;
			border: 1px transparent solid;
			&:hover {
				border: 1px solid $white;
			}
		}
		
	}

	#gradient {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-image: linear-gradient(to top, rgba(30, 84, 234, 0), rgb(0, 68, 255));
	}
	.row {
		height: 100%;
		#left {
			padding-left: 20px;
			padding-right: 20px;
			text-align: center;
			height: 100%;
				display: flex;
				.text-block{
					text-align: left;
					align-self: center;
					margin: auto;
					img {
						height: 35px;
					}
					@media (max-width: 991.999999px) {
						margin-top: 100px;
						.badges {
							text-align: center;
							margin-bottom: 27px;
						}
					}
				}
		}
		#right {
			height: 100%;
			display: flex;
			justify-content: flex-start;
			@media (max-width: 991.9999999px) {
				justify-content: center;
			}
			img {
				align-self: flex-end;
				width: 425px;
			}
		}
	}

}


section.bubble-around {
	// height: 609px;
	padding-top: 144px;
	padding-bottom: 190px;
	text-align: center;

	.row {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 609px;
		@media (max-width: 991.9999999999px) {
			height: auto;
		}
	}

	img {
		position: absolute;
		align-self: center;
		margin: auto;
		z-index: -10;
		@media (max-width: 991.9999999999px) {
			// position: relative;
		}
	}

	.text-block {

		align-self: auto;
		width: 580px;

		@media (max-width: 991.9999999px) and (min-width: 768px) {
			width: 50%;
		}
		@media (max-width: 767.9999999px) {
			width: 80%;
		}

	}

}

section.bubble-around.introduction {
		.text-block {
			position: relative;
			top: -55px;
		}
}


section.about-screenshots {
	text-align: center;

	.text-block {
		@media (max-width: 991.9999999px) {
			width: 80%;
			margin: auto;
		}
	}
	.screenshot-section {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: center;
	}
	img.screenshots {
		margin-top: 30px;
		margin-bottom: 212px;
		width: 326px;
	}
}

section.prefooter {
	height: 400px;
	background-color: $electric-blue;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	h1 {
		font-size: 31px;
		color: $white;
		margin-bottom: 21px;
	}
	img {
		height: 55px;
	}
	@media (max-width: 991.9999999999px) {
		.badge-group {
			img {
				height: 40px;
			}
		}
	}
}


footer {
	// padding-top: 60px;
	padding-bottom: 15px;
	background-color: $black;
	color: $white;
	text-align: center;

	a {
			color: $white;
	}

	h1 {
		font-size: 31px;
		font-weight: 600;
		color: $white;
		margin-bottom: 31px;
		margin-top: 61px;
	}

	h2 {
		font-size: 15px;
		color: $white;
		line-height: normal;
		margin: 0;
		font-weight: normal;
	}

	h3 {
		margin: 0;
		font-size: 15px;
		line-height: normal;
		color: $white;
		text-decoration: underline;
	}
	h6 {
		margin-top: 53px;
	}

	.row .item {
		display: inline-block;
	}

}
